version: '3.9'

services:

  db:
    image: postgres:15
    container_name: auth-db
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  auth-api:
    image: dineshpatil0908/auth-service:build-0
    container_name: auth-api
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "8000:8000"

  nginx:
    image: nginx:latest
    container_name: auth-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - auth-api

volumes:
  postgres_data: