name: Deploy to EC2

on: 
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          IMAGE_NAME="${{ secrets.DOCKER_USERNAME }}/auth-service"
          BUILD_TAG="build-${{ github.run_number }}"

          echo "Building image: $IMAGE_NAME:$BUILD_TAG"

          docker build -t $IMAGE_NAME:$BUILD_TAG ./auth-service
          docker push $IMAGE_NAME:$BUILD_TAG

          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV
          echo "IMAGE_TAG=$BUILD_TAG" >> $GITHUB_ENV

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            IMAGE_NAME="${{ secrets.DOCKER_USERNAME }}/auth-service"
            IMAGE_TAG="build-${{ github.run_number }}"

            cd /home/ubuntu/Swagger-FastAPI/auth-service

            sudo docker pull $IMAGE_NAME:$IMAGE_TAG
            sed -i "s|image: dineshpatil0908/auth-service:.*|image: $IMAGE_NAME:$IMAGE_TAG|g" docker-compose.yml
            sudo docker compose down
            sudo docker compose up -d